body {
    font: 2vw "ShareTechMono", Futura, sans-serif;
    background-color:rgb(128, 203, 226);
    
}

/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
    height: 5vw;
    margin-bottom: 3vw;;
}
  
/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font: 1vw;
}
.navbar a:hover {
    background-color: #555;
    color: white;
  }

@font-face {
    font-family: 'ShareTechMono';
    src: URL('./assets/Fonts/ShareTechMono-Regular.ttf') format('woff');
}
